$main-color: #97bf2a;
$main-color-dark: #85a823;
$light-background: #fff;
$light-font: #fff;
$dark-background: #ddd;
$default-font: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$titles-font-family: 'Anton', sans-serif;
$breakpoint-small: 650px;
$breakpoint-medium: 926px;

$shallow-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.14),
  0 3px 25px 2px rgba(0, 0, 0, 0.12),
  0 1px 3px 1px rgba(0, 0, 0, 0.2);
$deep-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12),
  0 11px 15px -7px rgba(0, 0, 0, 0.2);

h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
  font-family: $titles-font-family;
}

body {
  margin: 0;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-background;
}

button {
  padding: 0.8em;
  border-radius: 0.3em;
  background-color: $main-color;
  border: none;
  outline: none;
  cursor: pointer;
  color: $light-font;
  transition-duration: 0.15s;
}

button:hover {
  background-color: $main-color-dark;
}

input {
  border: solid 1.5px lightgray;
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input:focus {
  outline: 0.25em solid rgba(151, 191, 42, 0.5);
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-background {
  background-color: $main-color;
  width: 100%;
  height: 100%;
  align-content: center;
  display: flex;
  align-items: center;
}

.login-container {
  background-color: $light-background;
  width: 50%;
  height: 50%;
  min-width: 300px;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-inputs-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
  width: 30%;
  min-width: 70px;
}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: $deep-shadow;
  width: 14%;
  height: 100vh;
  min-width: 170px;
}

.options-container {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options-logo {
  font-size: 0.8em;
  align-self: flex-start;
  text-align: center;
}

.options-list {
  text-decoration: none;
  list-style: none;
}

.options-link {
  padding: 0.5em;
  padding-left: 1.5em;
  text-decoration: none;
  color: black;
  font-family: $titles-font-family;
}

.main-color-background {
  background-color: $main-color;
  color: white;
  transition-duration: 0.5s;
}

.conference-room-container {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    outline: 1px solid $main-color-dark;
  }

  flex: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.conference-room-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 650px;
}

.conference-room {
  &:hover {
    transition-duration: 0.5s;
    background-color: #ddd;
  }

  h3 {
    margin: 0;
    font-size: 1.1em;
  }

  background-color: $light-background;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 5px;
  box-shadow: $shallow-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition-duration: 0.5s;
}

.conference-room-info {
  display: flex;
  flex-direction: column;
}

.conference-room-image {
  img {
    width: 100%;
  }

  width: 40%;
}

.conference-room-buttons {
  a {
    &:hover {
      background-color: $main-color-dark;
    }

    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 0.3em;
    background-color: $main-color;
    border: none;
    outline: none;
    cursor: pointer;
    color: $light-font;
    transition-duration: 0.15s;
    text-decoration: none;
    margin: 2px;
  }

  display: flex;
  flex-direction: column;
}

.booking-search-window {
  display: flex;
  justify-content: center;
  flex: 1;
}

.booking-search-container {
  padding-left: 80px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.booking-search-menu {
  flex: 1;
}

.booking-search-bar {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: $light-background;
  box-shadow: $shallow-shadow;
  padding: 35px 55px;
  border-radius: 5px;
}

.booking-search-result-list {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    outline: 1px solid $main-color-dark;
  }

  padding-top: 40px;
  flex: 5;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $breakpoint-medium) {
  .conference-room-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .conference-room {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .conference-room-info {
    h3 {
      font-family: $default-font;
      font-size: 1em;
      font-weight: normal;
      margin-right: 1em;
    }

    div {
      margin-right: 1em;
    }

    flex-direction: row;
    margin-bottom: 5%;
  }

  .conference-room-buttons {
    margin-top: 5%;
    width: 100%;
  }

  .booking-search-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .booking-search-bar {
    input {
      height: calc(1em + 0.35rem + 2px);
    }

    margin: 0;
    padding: 15px 35px;
  }

  .booking-search-result-list {
    overflow: auto;
    padding-top: 10px;
  }
}

.booking {
  &:hover {
    transition-duration: 0.5s;
    background-color: #ddd;
  }

  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 5px;
  box-shadow: $shallow-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition-duration: 0.5s;
  background-color: $light-background;
}

.delete-booking-button {
  button {
    height: 100%;
  }
}

.bookings-container {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    outline: 1px solid $main-color-dark;
  }

  padding-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.book-room-window {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.book-room-container {
  padding-top: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.book-room-menu {
  flex: 1;
}

.book-creation-bar {
  background-color: $light-background;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: $shallow-shadow;
}

.booking-room-information {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    outline: 1px solid $main-color-dark;
  }

  padding-top: 40px;
  flex: 5;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-button {
  padding: 0.8em;
  border-radius: 0.3em;
  background-color: $main-color;
  border: none;
  outline: none;
  cursor: pointer;
  color: $light-font;
  transition-duration: 0.15s;
}

.welcome-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.welcome-page-image {
  opacity: 0.4;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  min-height: 100%;
}

.welcome-content {
  h2 {
    letter-spacing: 1.2px;
  }

  width: 80%;
}

@media (max-width: $breakpoint-medium) {
  .welcome-page-image {
    height: 100%;
    width: auto;
    min-width: 100%;
  }
}
